/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Rubik|Hind:700&display=swap');

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}

header {
}

.banner-span {
	display: block;
	height: 700px;
	background-image: url('images/Level\ Winter\ War.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.page-title {
	position: relative;
	top: 300px;
	margin: auto;
	text-align: center;
	color: whitesmoke;
	font-family: Hind;
	letter-spacing: 0.25em;
	font-size: 3em;
	border-top: 2px solid whitesmoke;
	border-bottom: 2px solid whitesmoke;
	text-shadow: #040404 3px 3px 5px;
	width: 12em;
	padding: 10px;
	user-select: none;
}

.description-container {
	display: flex;
	justify-content: space-around;
}

.description-box {
	display: inline-block;
	border: 1px black solid;
	flex-grow: 1;
	color: black;
	font-family: Hind;
	margin: 0 25px;
}

.title {
	padding: 0 8%;
	font-size: 2em;
	text-decoration: underline;
}

.subtitle {
	padding: 0 8%;
}

footer {
	border-top: #040404 solid 5px;
	background-color: #747474;
	width: 100%;
	height: 150px;
	position: static;
}
