/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Rubik|Hind:700|Hind:400&display=swap');

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}

header {
	position: relative;
}

/* General */

.banner-span {
	display: block;
	background-image: url('images/Level\ Winter\ War\ blur.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-title {
	position: relative;
	margin: auto;
	text-align: center;
	color: whitesmoke;
	font-family: Hind;
	letter-spacing: 0.25em;
	font-size: 3em;
	border-top: 2px solid whitesmoke;
	border-bottom: 2px solid whitesmoke;
	text-shadow: #040404 3px 3px 5px;
	padding: 10px;
	user-select: none;
}

/* Home Page */

.home.banner-span {
	height: 700px;
}

.home.page-title {
	top: 300px;
	width: 12em;
}

.description-container {
	display: flex;
	justify-content: space-around;
}

.description-box {
	display: inline-block;
	border: 1px black solid;
	flex-grow: 1;
	color: black;
	font-family: Hind;
	margin: 0 25px;
}

.title {
	padding: 0 8%;
	font-size: 2em;
	text-decoration: underline;
}

.subtitle {
	padding: 0 8%;
}

/* Members page */

.members.banner-span {
	height: 400px;
}

.members.page-title {
	top: 160px;
	width: 8em;
}

.members-span {
}

.members-list {
	text-decoration: none;

	padding: 10px 50px;

	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

	list-style: none;
}

.member-item {
	background-color: red;

	margin: 20px;

	width: calc(100% * (1 / 3) - 11px);
	max-width: 500px;
	height: 200px;

	flex-grow: 1;
}

/* Footer */

footer {
	border-top: #040404 solid 5px;
	background-color: #747474;
	width: 100%;
	height: 150px;
	position: static;
}

.footer-text {
	color: whitesmoke;
}
